<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CarDetailsBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="car">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cars
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addcar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add a Car
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="searchdeletecar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search or Remove Car
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="refitCars">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cars Refit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="refitManufacturers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Manufacturers Refit
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
