@page "/"

<PageTitle>Index</PageTitle>

<h1>POC Estágio Curricular</h1>

<h4>Este POC, apresenta uma aplicação em Blazor que acede a dois ficheiro csv com dados relativos a carros(fabricante, modelo, consumos, etc), retorna e apresenta estes dados numa tabela.
<br />
Foram usados conceitos de Blazor,  na criação dos componentes e manipulação do html da página, e de LINQ  na sintaxe das queries em C# para receber e mostrar os dados que se encontram nos ficheiros .csv.</h4>

<SurveyPrompt Title="É mostrada:" />
