@page "/"

<PageTitle>Index</PageTitle>

<h1>POC Estágio Curricular</h1>

<h4>Este POC, apresenta (numa primeira fase) uma aplicação em Blazor que acede a dois ficheiro csv com dados relativos a carros(fabricante, modelo, consumos, etc), retorna e apresenta estes dados numa tabela.
<br />
Foram usados conceitos de Blazor,  na criação dos componentes e manipulação do html da página, e de LINQ  na sintaxe das queries em C# para receber e mostrar os dados que se encontram nos ficheiros .csv.</h4>
<h4>Numa segunda fase, de modo a substituir os ficheiros .csv, foi criada uma base de dados que contivesse essa informação, foram também adicionados componentes razor com mecanismos para criar apagar e procurar novos registos.</h4>
<h4>
    Seguidamente foram incorporadas 3 bibliotecas na aplicação:<br>
    Reffit, que se encarrega dos pedidos e respostas HHTP;<br>
    MediatR, que funciona como intermediario entre os diferentes componentes, definindo um mediador que direcciona mensagens (requests) e produz uma resposta atraves do handler;<br>
    AutoMapping, que permite o mapeamento automático das propriedades de dois objectos diferentes.
</h4>


<SurveyPrompt Title="É mostrada:" />
